<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p style="color:#379;">
  Email: mac1228@gmail.com
</p>
<p>
  <a href="https://www.facebook.com/michael.curd.14">Facebook</a>
</p>

<p>
  <a href="https://plus.google.com/105372514282148813672/">Google+</a>
</p>
