
<div class="center hero-unit">
  <h1>Welcome to the </h1>
  <h1 style="color:#379;">Super Tic-Tac-Toe</h1>
  <h2>
    Think you're ready? 
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </h2>

  
</div>
